{% extends 'base.html.twig' %}

{% block title %}Edit TarifHoraire{% endblock %}

{% block body %}
<div class="bg-dark border border-primary mt-2  shadow rounded p-5 ml-3 mr-3 text-white">

    <div class="text-center mb-3"><h1><u>Modification du tarif Hors Taxes</u></h1></div>
    {{ include('admin/tarif_horaire/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-outline-danger btn-lg btn-block mt-3" href="{{ path('administration') }}" role="button">Annuler</a>

</div>
{% endblock %}
