{% extends 'base.html.twig' %}

{% block title %}New TarifHoraire{% endblock %}

{% block body %}
    <h1>Create new TarifHoraire</h1>

    {{ include('tarif_horaire/_form.html.twig') }}

    <a href="{{ path('tarif_horaire_index') }}">back to list</a>
{% endblock %}
